@import blueprint/modules/grid.sass
@import compass/reset.sass
@import compass/utilities/general.sass

html
  :overflow-x hidden
  :height 100%

body
  +reset-body
  +container
  :overflow visible
  :font
    :family Essays1743
    :size 14pt
  :letter-spacing 1pt
  :line-height 1.5
  :height 100%
  :background #f7f8f9

h1, h2, h3, h4, h5, h6
  :font-weight normal
  
h1
  :font-size 46pt
  :padding-top 1em
  +column(24)
  +push(7)
  
#book
  :padding 1em 0
  
h2
  :font-size 26px
  :text-align center
  :margin-bottom 1em
  :margin-top 1em
  +column(24)
  
sup
  :font-size 12pt
  :color green
  :position relative
  :left -26pt
  :top -24pt
  &:before
    :content '*'
    :color green
    :padding 5pt
    :position relative
    :top 2px
  
li
  :list-style none
  :text-align right
  &:after
    :content '*'
    :color green
    :padding 5pt
    :position relative
    :top 2px
    :right -6px
    
#benefits
  +column(12)
    
#installation 
  +column(8)
  :position relative
  :top -12px
  :display inline-block
  :padding 10pt 20pt
  :background black
  :color green
  :letter-spacing 10
  :font-family Consolas
  li
    :text-align left
    &:before
      :content '$'
      :margin-right 1em
    &:after
      :content ''
  
.rubyist
  :color #ca0000
  
#features
  .left
    +column(12)
    :text-align right
    
  .right
    +column(12)
    +last
    li
      :text-align left
      &:after
        :content ''
      
  

    