html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

*:focus {
  outline: 0; }

body {
  line-height: 1em;
  color: black;
  background: #fff; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

img a {
  border: none; }

@font-face {
  font-family: 'Essays1743 Web';
  src: url(../fonts/Essays1743.otf);
  src: url(../fonts/Essays1743.ttf) format('truetype'); }

body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  h1 img {
    margin: 0; }

h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

p {
  margin: 0 0 1.5em; }
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

a {
  text-decoration: underline;
  color: #000099; }
  a:visited {
    color: #000066; }
  a:focus {
    color: black; }
  a:hover {
    color: black; }
  a:active {
    color: #cc0099; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

dfn {
  font-style: italic;
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

li ul, li ol {
  margin: 0 1.5em; }

ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }
  dl dt {
    font-weight: bold; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eee; }

.quiet {
  color: #666666; }

.loud {
  color: #111111; }

ul, ol {
  margin: 0; }

html {
  overflow-x: hidden;
  height: 100%; }

body {
  line-height: 1em;
  color: black;
  background: #fff;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  overflow: visible;
  font-family: "Essays1743 Web";
  font-size: 14pt;
  letter-spacing: 1pt;
  line-height: 1.5;
  height: 100%;
  background: #f7f8f9; }
  body {
    display: block; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 46pt;
  padding-top: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  display: inline;
  float: right;
  position: relative;
  margin: 0 -280px 1.5em 280px; }
  * html h1 {
    overflow-x: hidden; }

#book {
  padding: 1em 0; }

h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px; }
  * html h2 {
    overflow-x: hidden; }

sup {
  font-size: 12pt;
  color: green;
  position: relative;
  left: -26pt;
  top: -24pt; }
  sup:before {
    content: '*';
    color: green;
    padding: 5pt;
    position: relative;
    top: 2px; }

li {
  list-style: none;
  text-align: right; }
  li:after {
    content: '*';
    color: green;
    padding: 5pt;
    position: relative;
    top: 2px;
    right: -6px; }

#benefits {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px; }
  * html #benefits {
    overflow-x: hidden; }

#installation {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  position: relative;
  top: -12px;
  display: inline-block;
  padding: 10pt 20pt;
  background: black;
  color: green;
  letter-spacing: 10;
  font-family: Consolas; }
  * html #installation {
    overflow-x: hidden; }
  #installation li {
    text-align: left; }
    #installation li:before {
      content: '$';
      margin-right: 1em; }
    #installation li:after {
      content: ''; }

.rubyist {
  color: #ca0000;
  cursor: help; }
  .rubyist .definition {
    color: black;
    visibility: hidden;
    font-size: 12pt;
    display: inline;
    float: left;
    margin-right: 10px;
    width: 190px;
    float: right;
    height: 0px;
    position: relative;
    left: 2em;
    top: 8pt; }
    * html .rubyist .definition {
      overflow-x: hidden; }
  .rubyist:hover .definition {
    visibility: visible; }

#features .left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  text-align: right; }
  * html #features .left {
    overflow-x: hidden; }
#features .right {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-right: 0; }
  * html #features .right {
    overflow-x: hidden; }
  #features .right li {
    text-align: left; }
    #features .right li:after {
      content: ''; }

#cite {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -200px 1.5em 200px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  opacity: 0.4;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  margin-top: 10em; }
  * html #cite {
    overflow-x: hidden; }
  #cite .collin {
    margin-top: 1em;
    color: #78471b;
    text-align: right;
    display: inline;
    float: left;
    margin-right: 10px;
    width: 150px; }
    * html #cite .collin {
      overflow-x: hidden; }
  #cite .whattech {
    position: relative;
    top: -10px; }
