%h2 
  introducing a new stack for the 
  %em 
    discerning 
    %span.rubyist 
      Rubyist
      .definition
        (n): Person who has come to realize, through Ruby, that 
        the computer should serve them and not vice versa.
    
%h1
  whatrails
  %sup a rails3 stack
  
%ul#benefits
  %li Newer, BETTER opinions
  %li Best-in-class solutions to conventional problems
  
%ol#installation
  %li gem install whatrails
  %li whatrails example
  
%h2#book
  Read the
  %a{:href => "/book" } Book of whatrails
  to learn about what you get inside
  
#features
  %ul.left
    %li OpenId
    %li Haml&amp;Sass
    %li Merb exceptions
    %li client-side validations
    %li discoverable REST API
    %li semantic form builders
    %li svg &amp; canvas
    %li AuthLogic
    %li jQuery<span class="love">&hearts;</span>

  %ul.right
    %li OAuth
    %li Compass
    %li action arguments
    %li workflow validations
    %li "Beats Django!" admin
    %li svelte pagination
    %li embedded fonts
    %li DataMapper
    %li Sprockets

    
#cite
  .collin
    Produced by Collin T Miller
  =img 'collin.jpg'
  =img 'tech_by_whattech.png', :class => :whattech