%h2 
  introducing a new stack for the 
  %em 
    discerning 
    %span.rubyist Rubyist
    
%h1
  whatrails
  %sup a rails3 stack
  
%ul#benefits
  %li Newer, BETTER opinions
  %li Best-in-class solutions to conventional problems
  
%ol#installation
  %li gem install whatrails
  %li whatrails example
  
%h2#book
  Read the
  %a{:href => "/book" } Book of whatrails
  to learn about what you get inside
  
#features
  %ul.left
    %li OpenID & OAuth (provider+relying)
    %li Haml, Sass & Compass
    %li semantic form builders
    %li cross-browser fonts
    %li svg & canvas
    %li jQuery & UI
    %li SearchLogic
    %li Merb-style exceptions
    %li automagic API
  %ul.right
    %li will_paginate
    %li DataMapper
    %li IPhone UI
    %li comet
    %li thin
    %li action arguments
    %li AuthLogic
    %li Sprockets
    %li admin_assisstant

    
%cite
  =img 'collin.jpg'
  =img 'tech_by_whattech.png'