= form.text_field :email_address, :label => "Email Address"
= form.text_field :full_name, :label => "Full Name"
= form.password_field :password, :label => "Password"
= form.password_field :password_confirmation, :label => "Confirm Password"
